<p [textContent]="examplePropBinding"></p>
<div class="row">
  <div class="one-half column"><button (click)="clickTheButton()">Event Binding</button>
  </div>
  <div class="one-half column">
    <p [ngClass]="{ 'paragraph-text': makeTextRedItalic === true }">Attribute Directive Example</p>
  </div>
</div>

<div class="row">
  <div class="one-half column">
    <p>Form Template Driven Example</p>
    <form>
      <div class="row">
        <div class="one column">
          <input name="input01" type="text" name="" id="" placeholder="input 01" ngModel>
        </div>
      </div>
      <div class="row">
        <div class="one column">
          <input name="input02" type="text" name="" id="" placeholder="input 02">
        </div>
      </div>
      <div class="row">
        <div class="one column">
          <input name="input03" type="text" name="" id="" placeholder="input 03">
        </div>
      </div>
      <div class="row">
        <button class="button-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <div class="one-half column"></div>
</div>

