<p [textContent]="examplePropBinding"></p>
<div class="row">
  <div class="one-half column"><button (click)="clickTheButton()">Event Binding</button>
  </div>
  <div class="one-half column">
    <p [ngClass]="{ 'paragraph-text': makeTextRedItalic === true }">Attribute Directive Example</p>
  </div>
</div>

<div class="row">
  <div class="one-half column">
    <p>Form Template Driven Example</p>
    <form (ngSubmit)="onTemplateSubmit(templateForm.value)" #templateForm="ngForm">
      <div class="row">
        <div class="one column">
          <input
            [ngModel]="defaultInput01"
            name="input01"
            type="text"
            placeholder="input 01"
          >
        </div>
      </div>
      <div class="row">
        <div class="one column">
          <input
            [(ngModel)]="answerInput02"
            name="input02"
            type="text"
            placeholder="input 02"
          >
        </div>
      </div>
      <div class="row">
        <div class="one column">
          <input
            type="text"
            name="Input02"
            value="{{ answerInput02 }}"
            readonly
          >
        </div>
      </div>
      <div class="row">
        <div class="one column">
          <input
            ngModel
            name="input03"
            type="text"
            id=""
            placeholder="input 03"
          >
        </div>
      </div>
      <div class="row">
        <button class="button-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <div class="one-half column">
    <p>Model Driven form</p>
    <form
      [formGroup]="modelDrivenForm"
      (ngSubmit)="onModelSubmit()"
    >
      <div class="row">
        <div class="one column">
          <input
            type="text"
            placeholder="input 04"
            formControlName="input04"
          >
        </div>
      </div>
      <div class="row">
        <div class="one column">
          <input
            type="text"
            placeholder="input 05"
            formControlName="input05"
          >
        </div>
      </div>
      <div class="row">
        <div class="one column">
          <input
            type="text"
            value=""
            placeholder="input 06"
            formControlName="input06"
          >
        </div>
      </div>
      <div class="row">
        <button class="button-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

