<p>detail-page works!</p>
<form>
  <div class="row">
    <div class="six columns">
      <label for="userID">User ID</label>
      <input class="u-full-width" type="email" disabled value="" id="userID">
    </div>
    <div class="six columns">
      <label for="completed">Completed</label>
      <select class="u-full-width" id="completed">
        <option value=""></option>
        <option value="Option 1">Yes</option>
        <option value="Option 2">No</option>
      </select>
    </div>
  </div>
  <label for="title">Title</label>
  <input class="u-full-width" type="text" id="title">
  <input class="button-primary" type="submit" value="Submit">
</form>
