<p>create-page works!</p>

<form (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="one-half column">
      <input type="text" placeholder="User ID">
    </div>
  </div>
  <div class="row">
    <div class="one-half column">
      <input type="text" placeholder="Title">
    </div>
  </div>
  <div class="row">
    <div class="two column">
      <select class="" name="completed">
        <option value="">Completed?</option>
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>
  </div>
  <button type="submit">Create</button>
</form>
